body {
    padding: 0px 150px 0px 150px;
    background-color: lightgrey;
}

h1 {
    padding-bottom: 10px !important;
    text-align: center;
    font-family: serif;
    font-weight: bold;
    border-bottom: whitesmoke 2px solid;
}

h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-left: -20px;
    margin-top: 50px !important;
    margin-bottom: 10px !important;
    border-bottom: lightgrey 1px solid;
    font-family: serif;
    text-transform: uppercase;
}

h3 {
    font-family: serif;
    font-style: italic;
    padding-bottom: 20px;
    padding-left: 10px;
}

h4 {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}

aside {
    flex-direction: row;
    border-right: lightgray 2px solid;
}

img {
    padding-left: 10px;
}

a {
    color: black !important;
}

.recipe-list {
    flex-direction: row;
    padding-left: 20px;
}

.dish-image {
    width: 500px;
    padding-bottom: 30px;
}

.col-6,
.col-2 {
    border-top: 1px solid lightgray;
}

.author-link {
    margin-bottom: 0px;
    font-weight: bold;
}

.total-time-header {
    margin-bottom: 0px;
    font-weight: bold;
    text-transform: uppercase;
}

.border-gray-top {
    border-top: lightgray 1px solid;
}

.recipe-row p {
    margin: 0.2em;
}

.txt-darkred {
    color: darkred !important;
}

.txt-gray {
    color: darkgrey;
}

#menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 60px;
    font-style: italic;
}

#body-container {
    display: flex;
}